<!DOCTYPE html>
<html>
  <body>
    <div id="map"></div>
    <link rel="stylesheet" type = "text/css" href="/css/mymap.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAerCc7M_7gAWfRE1_y_Ze8deCw2JwRZg&callback=initMap">
    </script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAerCc7M_7gAWfRE1_y_Ze8deCw2JwRZg&libraries=places"></script>
    <script type="text/javascript" src="/js/mymap.js"></script>

    <div id="map"></div>
    <div id="place-info-wrapper">
      <div id="hero-header-wrapper"><img></img></div>
      <div id="place-basic-info-wrapper">
        <div id="place-basic-info">
          <div class="place-name info-text"></div>
          <div class="place-review-score info-text"></div>
          <div class="place-type info-text"></div>
        </div>   
    </div>
    <button class="place-info-visibility-toggle">
        <div class="triangle-icon">
      </button>
    </div>
  </body>
</html>
